@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  background-color: #001f7c38;
}

.bg-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  mix-blend-mode: lighten;
}

/* Navbar */
header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(10px);
  height: 70px;
  padding: 0 30px;
  box-shadow: 0 0 15px #72a1de68;
  z-index: 998;
}

.left {
  display: flex;
  align-items: center;
}

.left a {
  text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
}

.l-logo {
  width: 48px;
  margin: 0 12px;
}

.l-title {
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 36px;
  color: #727fde;
}

.desktop-ul {
  display: flex;
  justify-content: space-around;
  width: 35%;
  padding: 15px;
  border-radius: 50px;
  background-color: rgba(0, 0, 69, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #727fde65;
  overflow: hidden;
}

header .desktop-ul li {
  list-style: none;
}

header .desktop-ul a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin: 0 15px;
}

.social-icons {
  display: flex;
  gap: 32px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 32px;
  height: 32px;
  border: 2px solid #727fde;
  text-decoration: none;
  color: lightgray;
  border-radius: 50%;
  transition: 0.3s;
}

.social-icons a:hover {
  background-color: #727fde;
  color: black;
  box-shadow: 0 0 15px #727fde65;
}

.blackhole-box {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: center;
  mix-blend-mode: lighten;
}

.blackhole-box video {
  width: 100%;
  margin-top: -23.5%;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  position: absolute;
  left: 5%;
  /* Temp */
  top: 100px;
}

.hero-info .hero-info-title {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #727fde;
  padding: 8px 5px;
  width: 250px;
  border: 1px solid #727fde77;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde6f;
}

.hero-info h1 {
  font-size: 58px;
  max-width: 700px;
  line-height: 70px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.hero-info p {
  max-width: 550px;
  line-height: 25px;
  margin-bottom: 40px;
  font-size: 20px;
}

.hero-info button {
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #727fde77;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde87;
  cursor: pointer;
  transition: 0.3s;
}

.hero-info button:hover {
  box-shadow: 0 0 5px #727fde87;
}

/* Gradient Animations */

.gradient {
  background: linear-gradient(
    to right,
    #008baa,
    #7e42a7,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008ead
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.hero-vid-box {
  position: absolute;
  right: 0%;
}
.hero-vid-box video {
  height: 700px;
  mix-blend-mode: lighten;
}

.scroll-down-box {
  height: 50px;
  width: 30px;
  border: 2px solid lightgray;
  position: absolute;
  left: 49%;
  bottom: 8%;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(211, 211, 211, 0.758);
  padding: 3px;
}

.scroll-down-box::before,
.scroll-down-box::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  border: 2px solid lightgrey;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 2s ease-in-out infinite;
}

.scroll-down-box::before {
  top: 30%;
  animation-delay: 0.5s;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
  }

  30%,
  60% {
    opacity: 0.8;
  }

  90% {
    opacity: 0;
    top: 90%;
  }
}

.info-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 30px;
  /* margin-top: 100px; */
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.info-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 30px;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: auto;
  height: 40vh;
  overflow: hidden;
  border: 1px solid gray;
  background-color: #080020b7;
  border-radius: 20px;
  transition: 0.3s;
}

.cards img {
  width: 80%;
  height: 50%;
  object-fit: cover;
}

.cards h1 {
  position: absolute;
  margin: 0;
  bottom: 37%;
  left: 5%;
  font-size: 25px;
  z-index: 1;
  color: lightgray;
  text-shadow: 0 0 3px lightgray;
}

.cards p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 300px;
  color: gray;
  z-index: 1;
  font-size: 13px;
  line-height: 20px;
  padding: 0 1% 0 0;
}

.cards video {
  margin-top: 5%;
  width: 70%;
  height: 50%;
  object-fit: cover;
  mix-blend-mode: lighten;
}

.cards button {
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #727fdeb4;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde86;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.cards button:hover {
  box-shadow: 0 0 15px #727def86;
  opacity: 0.7;
}

.cards:hover {
  box-shadow: 0 0 15px rgba(211, 211, 211, 0.5);
}

.cards:nth-child(1) img {
  border-radius: 0px 0px 10px 10px;
  height: 90px;
  width: 90px;
}

.cards:nth-child(2) {
  padding-top: 5px;
}

.cards:nth-child(2) img {
  width: 50%;
  height: 50%;
  border-radius: 0px 0px 10px 10px;
  background-position: bottom;
}

.cards:nth-child(3) {
  grid-row: span 2;
  height: 83vh;
}

.cards:nth-child(3) p {
  bottom: 14%;
}

.cards:nth-child(3) h1 {
  bottom: 25%;
}

.cards:nth-child(4) {
  grid-column: span 2;
}

.cards:nth-child(4) p {
  max-width: 600px;
}

.cards:nth-child(4) h1 {
  bottom: 30%;
}

/* *********** */
/* MY PROJECTS */
/* *********** */

.my-projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
  width: 80%;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 500px;
}

.project-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.projects-card {
  display: flex;
  width: 100%;
  /* height: 40%; */
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 48px;
}

.projects-prev-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  cursor: pointer;
  min-width: 400px;
  transition: 0.5s;
  mix-blend-mode: exclusion;
}

.projects-prev-box img {
  transform: translateX(-100%);
}

.projects-prev-box video {
  object-fit: cover;
  width: 100%;
  box-shadow: 0 0 10px lightgray;
  border-radius: 10px;
  transition: 0.5s;
}

.projects-prev-box video:hover {
  box-shadow: 0 0 20px lightgray;
}

.projects-card .projects-info:nth-child(odd) {
  padding-left: 5%;
  /* margin-left: 5%; */
}

.projects-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  padding-left: 5%;
}

.projects-info h1 {
  width: 90%;
  font-size: 26px;
  font-weight: bolder;
  text-wrap: nowrap;
  margin-bottom: 10px;
  margin-top: 0;
  min-width: 450px;
}

.projects-info p {
  width: 90%;
  font-size: 15px;
  line-height: 1.4;
  min-width: 300px;
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 32px;
}

.projects-info button {
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #727fdeb4;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde86;
  cursor: pointer;
  transition: 0.3s;
}

.projects-info button .bx-link-external {
  margin-right: 3px;
}

.projects-info button:hover {
  box-shadow: 0 0 15px #727def86;
  opacity: 0.7;
}

.hover-sign {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30%; */
  height: 1px;
}

.hover-sign::before,
.hover-sign::after {
  content: "👆";
  align-items: center;
  position: absolute;
  font-size: 40px;
  top: 20%;
  left: 40%;
  border-radius: 50%;
  color: black;
  transform: rotate(325deg);
  animation: hoverAnimation 2s ease-in-out infinite;
}

.hover-sign:hover {
  display: none;
}

.active {
  display: none;
}

@keyframes hoverAnimation {
  0% {
    box-shadow: 0 0 3px lightgray;
    transform: translate(300%, 100%) rotate(330deg);
  }
  100% {
    box-shadow: 0 0 10px lightgray;
    transform: translate(50%, 50%) rotate(320deg);
  }
}

.my-projects .show-more {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #727fdeb4;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde86;
  cursor: pointer;
  transition: 0.3s;
  gap: 3px;
}

.my-projects a {
  text-decoration: none;
  color: lightgray;
}

.my-projects button:hover {
  box-shadow: 0 0 15px #727fde86;
  opacity: 0.7;
}

/* Skills */

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 64px;
  margin-top: 10%;
}

.section-skills {
  font-size: 32px;
}

.skills-box {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-img {
  width: auto;
  height: 65vh;
  mix-blend-mode: lighten;
  opacity: 0.7;
}

.designer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 25%;
  left: -25%;
  max-width: 300px;
}

.coder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 25%;
  right: -30%;
  max-width: 300px;
}

.skills-box h1 {
  font-size: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}

.skills-box p {
  line-height: 23px;
}

/* SLIDER */
.slider {
  position: absolute;
  bottom: -20%;
  right: 10%;
  width: 80%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  mix-blend-mode: difference;
  opacity: 0.8;
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}

.slider .list .item img {
  width: 80%;
  z-index: 1;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

/* *************** */
/* Contact Section */
/* *************** */

.contact-section {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: relative;
  margin-bottom: 32px;
}

.contact-section h1 {
  position: absolute;
  top: 0;
}

.social-box div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15%;
}

.social-box a {
  display: flex;
  align-items: center;
  color: lightgray;
  text-decoration: none;
  font-size: 16px;
  text-wrap: nowrap;
}

.social-box i {
  color: #727fde;
  margin-right: 10px;
  font-size: 30px;
}

.social-box button {
  display: flex;
  align-items: center;
  margin-top: 70px;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #727fdeb4;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde86;
  cursor: pointer;
  transition: 0.3s;
}

.social-box button:hover {
  box-shadow: 0 0 15px #727fde86;
  opacity: 0.7;
}

.social-box button .bx-send {
  font-size: 24px;
  color: lightgray;
}

.contact-box p {
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 23px;
}

.inner-text {
  font-size: 16px;
}

.contact-box input {
  padding: 12px 15px;
  background-color: lightgray;
  width: 90%;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-box input::placeholder {
  font-size: 12px;
}

/* *************** */
/* *** FOOTER **** */
/* *************** */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.181);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.381);
  backdrop-filter: blur(10px);
  z-index: 999;
}

footer h1 {
  width: 100vw;
  font-size: 16px;
  padding: 12px;
  text-align: center;
}

/* ********************** */
/* ****** SIDEBAR ******* */
/* ********************** */

.menu-icons {
  display: none;
  font-size: 32px;
  cursor: pointer;
}

.side-bar {
  position: fixed;
  height: 100vh;
  /* width: 80%;
  opacity: 1; */
  width: 0;
  opacity: 0;
  right: 0;
  top: 0;
  background: #000000;
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 0 20px rgba(211, 211, 211, 0.411);
}

.close-icons {
  font-size: 32px;
  color: lightgray;
  padding-left: 10px;
  margin: 16px 0;
  cursor: pointer;
}
.side-bar ul {
  padding-left: 20px;
  background: #000000;
}

.side-bar ul li {
  list-style: none;
  margin-bottom: 24px;
}

.side-bar ul li a {
  text-decoration: none;
  color: lightgrey;
  font-size: 20px;
  font-weight: 900;
  box-shadow: 0 0 15px rgb(128, 128, 128, 0.256);
}

.side-bar .social-media-icons {
  padding-left: 18px;
  margin-top: 60px;
  text-wrap: nowrap;
}

.side-bar .social-media-icons a {
  font-size: 35px;
  padding: 5px 5px;
  cursor: pointer;
}

.social-media-icons a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.side-bar .social-media-icons a:hover,
.side-bar ul li a:hover {
  color: #727fde;
}
/* ********************** */
/* Blur Effect Animations */
/* ********************** */

.autoBlur {
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
    opacity: 0;
  }
  35%,
  60% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(40px);
    opacity: 0;
  }
}

/* Open Sidebar Animation */

.side-bar.open-sidebar {
  animation: openSidebarAnimation 1.5s forwards;
}
@keyframes openSidebarAnimation {
  to {
    width: 60%;
    opacity: 1;
  }
}

/* Close Sidebar Animation */

.side-bar.close-sidebar {
  animation: closeSidebarAnimation 1.5s forwards;
}

@keyframes closeSidebarAnimation {
  from {
    width: 60%;
    opacity: 1;
    bottom: 0;
    border-radius: 0;
  }
  to {
    width: 0;
    opacity: 0;
    bottom: 70%;
    border-bottom-left-radius: 50%;
  }
}

/* Auto Display Animation */

.autoDisplay {
  animation: autoDisplayAnimation both;
  animation-timeline: view();
}

@keyframes autoDisplayAnimation {
  from {
    filter: blur(10px);
    opacity: 0.2;
    transform: translateY(-200px) scale(0);
  }

  50% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) scale(1);
  }
}

/* FadeIn Right Animations */

.fadeInRight {
  animation: FadeInAnimation both;
  animation-timeline: view();
}

@keyframes FadeInAnimation {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-500px) scale(0.2);
  }
  35%,
  60% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0) scale(1);
  }
  100% {
    filter: blur(20px);
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}

/* Tablet */

@media screen and (max-width: 1000px) {
  .blackhole-box video {
    margin-top: -20%;
  }

  .hero-info h1 {
    font-size: 40px;
    min-width: 400px;
    line-height: 40px;
  }

  .hero-info p {
    min-width: 300px;
  }

  .hero-vid-box {
    right: 0;
  }

  .hero-vid-box video {
    height: 500px;
  }

  /*  */

  .section-title {
    font-size: 30px;
  }

  .info-cards {
    grid-template-columns: auto;
  }

  .cards:nth-child(3) {
    grid-column: span 2;
    height: 70vh;
  }

  .info-cards .cards h1 {
    font-size: 20px;
  }

  .cards:nth-child(3) h1 {
    bottom: 25%;
  }

  .cards:nth-child(2) img {
    width: auto;
    height: 60%;
    margin-top: -5%;
  }

  .cards:nth-child(1) img {
    width: auto;
    height: 40%;
  }

  .cards video {
    width: auto;
    height: 70%;
    margin-top: 0%;
  }

  /* Projects */

  .my-projects {
    margin-bottom: 500px;
  }

  .projects-prev-box {
    margin-bottom: 5%;
  }

  .projects-prev-box video {
    width: 300px;
    margin-left: -100px;
  }

  .projects-info {
    padding-left: 0px;
    margin-left: -50px;
  }

  .projects-info h1 {
    font-size: 20px;
    max-width: 200px;
    text-wrap: wrap;
  }

  .projects-info p {
    font-size: 10px;
    text-wrap: wrap;
    max-width: 200px;
    min-width: 0;
  }

  .projects-card {
    margin-left: 20%;
  }

  @keyframes hoverAnimation {
    0% {
      box-shadow: 0 0 3px lightgray;
      transform: translate(200%, 100%) rotate(330deg);
    }
    100% {
      box-shadow: 0 0 10px lightgray;
      transform: translate(50%, 50%) rotate(320deg);
    }
  }

  /* Skills */

  .designer {
    left: -20%;
    top: 28%;
  }

  .coder {
    right: -25%;
    top: 28%;
  }

  /* Footer */

  footer h1 {
    font-size: 20px;
  }
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .container {
    width: 100vw;
  }

  header {
    position: fixed;
    height: 50px;
  }

  header ul {
    display: none;
  }

  .side-bar-ul {
    display: inline-block;
  }

  .side-bar-ul li {
    text-wrap: nowrap;
  }

  .social-icons {
    display: none;
  }

  header .box-icons {
    display: none;
  }

  header h1 {
    font-size: 25px;
  }

  .blackhole-box video {
    margin-top: -20%;
  }

  .hero {
    flex-direction: column;
  }

  .autoBlur {
    animation: none;
  }

  .fadeInRight {
    animation: none;
  }

  .hero-info {
    top: 100px;
    bottom: 5%;
  }

  .hero-vid-box video {
    display: none;
  }

  .scroll-down-box {
    bottom: 15%;
  }

  .hero-info h1 {
    line-height: 50px;
  }

  .hero-vid-box {
    height: 200px;
    top: 5%;
    right: 5%;
  }

  .info-cards .cards h1 {
    font-size: 16px;
  }

  .cards:nth-child(4) h1 {
    bottom: 30%;
  }

  .cards:nth-child(3) h1 {
    bottom: 27%;
  }

  .cards:nth-child(3) p {
    bottom: 16%;
  }

  .cards p {
    font-size: 12px;
    line-height: 1.4;
  }

  .cards video {
    width: auto;
    margin-top: -2%;
    height: 65%;
  }

  .my-projects {
    margin-bottom: 1000px;
  }

  .projects-card {
    flex-direction: column;
    margin-left: 25%;
    gap: 30px;
  }

  .projects-card:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .projects-info {
    width: 85%;
  }

  .projects-prev-box {
    margin-bottom: 0%;
  }

  .projects-info h1 {
    text-wrap: wrap;
  }

  .projects-info p {
    max-width: 250px;
  }

  .hover-sign::before,
  .hover-sign::after {
    font-size: 32px;
  }

  .projects-card .projects-info:nth-child(odd) {
    padding-left: 0px;
    margin-left: -50px;
  }

  @keyframes hoverAnimation {
    0% {
      box-shadow: 0 0 3px lightgray;
      transform: translate(150%, 100%) rotate(330deg);
    }
    100% {
      box-shadow: 0 0 10px lightgray;
      transform: translate(50%, 50%) rotate(320deg);
    }
  }

  .autoDisplay {
    animation: none;
  }

  .section-skills {
    margin-bottom: 24px;
  }

  .skills-box {
    height: 50vh;
  }

  .designer {
    top: 115%;
    left: 25%;
  }

  .coder {
    top: 210%;
    left: 25%;
  }

  .skills-section {
    margin-bottom: 750px;
    margin-top: -45%;
  }

  .slider {
    bottom: 0;
    top: 310%;
    width: 80vw;
    left: 10%;
  }

  .slider .list .item img {
    width: 60%;
  }

  .contact-section {
    flex-direction: column-reverse;
    width: 90vw;
    margin-bottom: 20%;
  }

  .contact-section h1 {
    top: -20%;
  }

  .social-box {
    display: flex;
    gap: 25px;
    flex-direction: column-reverse;
    margin: 10% auto 0 auto;
  }

  .social-box div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 0;
    column-gap: 50px;
  }

  .social-box button {
    margin: auto;
  }

  .social-box button .bx-send {
    font-size: 18px;
  }

  .social-box button i {
    font-size: 16px;
  }

  .inner-text {
    font-size: 14px;
  }

  /* SIDEBAR */

  .desktop-ul {
    display: none;
  }

  .menu-icons {
    margin-right: 5%;
    display: inline;
  }
}

@media screen and (max-width: 545px) {
  .container {
    gap: 50px;
  }

  .hero {
    height: 80vh;
  }

  .hero-info p {
    font-size: 18px;
    min-width: 250px;
  }

  .blackhole-box video {
    margin-top: -18%;
  }

  .hero-info h1 {
    line-height: 40px;
    font-size: 32px;
    min-width: 300px;
  }

  .scroll-down-box {
    bottom: 10%;
  }

  .info-section {
    width: 90vw;
  }

  .cards:nth-child(1) img {
    border-radius: 50%;
    margin-top: 5%;
    border: rgba(255, 255, 255, 0.774) 3px solid;
  }

  .cards:nth-child(2) img {
    margin-top: -5%;
  }

  .cards {
    height: 30vh;
  }

  .cards h1 {
    bottom: auto;
    top: 60%;
  }

  .cards p {
    bottom: auto;
    top: 75%;
    max-width: 350px;
  }

  .cards video {
    margin-top: 0%;
    height: 55%;
  }

  .cards:nth-child(1),
  .cards:nth-child(2) {
    grid-column: span 2;
  }

  .cards:nth-child(3) {
    grid-column: span 2;
    height: 50vh;
  }

  .cards:nth-child(3) h1 {
    top: 60%;
    width: 90%;
  }

  .cards:nth-child(3) p {
    top: 73%;
  }

  .cards:nth-child(3) button {
    bottom: 4%;
  }

  .projects-prev-box video {
    width: 300px;
    margin-left: -80px;
  }

  .projects-info {
    margin-left: -80px;
  }

  .projects-card .projects-info:nth-child(odd) {
    margin-left: -80px;
  }

  .projects-info p {
    max-width: 300px;
  }

  .skills-box h1 {
    font-size: 36px;
  }

  .skills-img {
    width: auto;
    height: 45vh;
  }

  .designer {
    top: 110%;
    left: 27%;
  }

  .coder {
    top: 180%;
    left: 27%;
  }

  .slider {
    top: 260%;
    left: 22%;
  }

  .contact-section {
    margin-bottom: 10%;
  }

  .contact-section h1 {
    top: -25%;
  }

  .social-box {
    display: flex;
    gap: 25px;
    flex-direction: column-reverse;
    margin: 10% auto 15% 30px;
  }

  .social-box div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 0;
    column-gap: 50px;
  }

  .social-box a {
    font-size: 16px;
  }

  .social-box button .bx-send {
    font-size: 16px;
  }

  .social-box button {
    margin: 10px auto 0 0;
  }

  .inner-text {
    font-size: 12px;
  }

  /* Footer */

  footer h1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .blackhole-box video {
    margin-top: -16%;
  }

  .cards:nth-child(1) img {
    width: auto;
    height: 35%;
  }

  .cards:nth-child(2) img {
    margin-top: 0%;
    height: 50%;
  }

  .contact-section h1 {
    top: -5%;
  }

  .social-box {
    display: flex;
    gap: 25px;
    flex-direction: column-reverse;
    margin: 10% auto 0 0;
  }

  .social-box div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 0;
    column-gap: 50px;
  }
}
